<body>
    <h1>Beginner material <img src="./assets/img/starboard_start.png" alt="Starboard Start board">
        <img src="./assets/img/synergy.png" alt="Synergry rig">
    </h1>

    <div class=data_input>


        <div class=crud *ngFor="let type of material | keyvalue">
            <h2>{{type.key}}</h2>

            <div class=model_column *ngFor="let models of type.value |keyvalue">
                <h3>{{models.key}}</h3>
                <div class=sizes *ngFor="let size of models.value">

                    <label for='amount'>{{size}}</label>
                    <input matInput type='number'>

                </div>

            </div>

        </div>
    </div>


    <div class=buttons>
        <button mat-stroked-button matTooltip="Add {{material.type}} status">Add</button>
        <button mat-stroked-button matTooltip="Send {{material.type}} to repair">Repair</button>
        <button mat-stroked-button matTooltip="Send {{material.type}} to Megastore">Sell</button>
    </div>


</body>