<header>
  <div class=logos>
  <img alt="Rene Egli LOGO" class="logo" src="./assets/img/reneegli_logo.png">
  <h1>René Egli DataBase</h1>
  <!-- <div class="login"> -->
      <!-- {% if user.is_authenticated %} -->
   <!-- <li>User: {{ user.get_username }}</li> -->
   <!-- <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> -->
 <!-- {% else %} -->
   <!-- <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li> -->
 <!-- {% endif %} -->
<!-- </ul> -->
<!-- </div> -->
</div>
<div class=tabs>
<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  [matTooltip]="link.detail"
  routerLinkActive #rla="routerLinkActive"
  [routerLinkActiveOptions]="{exact:true}"
  [active]="rla.isActive">
  {{link.label}}
  </a>
  </nav>
</div>
</header>

<router-outlet></router-outlet>

<footer>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <p class="author">Szymon Dyda</p>
  <a class="fa fa-instagram" href="http://www.instagram.com/szymonkhal/"></a>
  <a class="fa fa-facebook" href="https://www.facebook.com/szymon.dyda"></a>
</footer>

