* {
  font-size: 1rem;
}
body {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  justify-content: space-evenly;
  .crudDiv {
    max-width: 45%;
    .datePickers {
      mat-form-field {
        justify-content: space-around;
        width: 45%;
      }
    }
  }
  .displayDiv {
    min-width: 30%;
    max-width: 45%;
  }
}

.crudDiv {
  background: radial-gradient(transparent, ivory);
  padding: 2rem;
  border: outset;
  border-radius: 2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: start;
  // padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.crudDiv {
  display: flex;
  flex-direction: column;
}

input {
  background: aliceblue;
  padding: 0.5rem;
}
.mat-select {
  opacity: 0.75;
  font-size: 0.75rem;
  text-align: center;
}

.rudForm {
  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.addForm,
.rudForm,
.printingForm {
  //   border: solid;
  display: flex;
  justify-content: space-between;
}

.reportsForm {
  display: flex;
  flex-direction: column;
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .datePickers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.addForm {
  margin-bottom: 1rem;
}

button,
.mat-button-toggle {
  background: aliceblue;
  opacity: 0.75;
  border: aliceblue;
}

.mat-button-toggle-checked {
  background: #ffef28;
  opacity: 0.9;
}
