* {
  font-size: 1rem;
}
body {
  //GENERAL STYLE
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .crudDiv {
    max-width: 45%;
    display: flex;
    flex-direction: column;

    background: radial-gradient(transparent, ivory);
    padding: 2rem;
    border: outset;
    border-radius: 2rem;

    h2 {
      font-size: 1.2rem;
      text-align: start;
      padding-bottom: 0.5rem;
      padding-top: 1rem;
    }

    .printingForm,
    .reportsForm,
    .rudForm,
    .addForm {
      input {
        background: aliceblue;
        padding: 0.5rem;
      }
      button {
        border: outset;
      }
    }

    //SPECIFIC STYLE FOR ELEMENT/DIV

    button,
    .mat-button-toggle {
      background: aliceblue;
      opacity: 0.75;
      border: aliceblue;
    }

    .printingForm,
    .reportsForm {
      .mat-button-toggle-checked {
        background: #ffef28;
        opacity: 0.9;
      }
    }

    .addForm,
    .rudForm,
    .printingForm {
      display: flex;
      justify-content: space-between;
    }

    //SPECIFIC FOR SINGLE DIV

    .addForm {
      margin-bottom: 1rem;
    }

    .rudForm {
      // @media only screen and (max-width: 600px) {
      //   display: flex;
      //   flex-direction: column;
      // }
      .mat-select {
        opacity: 0.75;
        font-size: 0.75rem;
        text-align: center;
      }
    }

    .reportsForm {
      display: flex;
      flex-direction: column;
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .datePickers {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        mat-form-field {
          justify-content: space-around;
          width: 45%;
        }
      }
    }
  }
  .displayDiv {
    min-width: 30%;
    max-width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    width: 100%;
    padding:3rem;

    .crudDiv {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      .rudForm{
        display: flex;
        flex-direction: column;
        .buttons{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          
        }
      }
    }

    .displayDiv {
      max-width: 100%;
    }
    // .addForm,
    // .rudForm,
    // .printingForm {
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
}

.repair{
  color:grey;
}
.sold{
  color:red;
}
