<body>
    <h1>Accessories <img src="./assets/img/severne_enigma_boom.png" alt="Severne Enigma Boom">
        <img src="./assets/img/severne_masts.png" alt="Severne masts"> 
        <img src="./assets/img/wetsuit.png" alt="Wetsuit">
        <img src="./assets/img/severne_extension.png" alt="Severne extension"> 
        <img src="./assets/img/severne_mast_base.png" alt="Synergry mast base">
        <img src="./assets/img/harness_lines_severne.png" alt="Harness lines serverne">
    </h1>
    <app-basic-crud *ngIf="equipment" [equipment]=equipment [apiUrl]=apiUrl [apiFilterUrl]=apiFilterUrl></app-basic-crud>

    </body>