<body>
<h1>Welcome!</h1>
<div class=container>
<mat-list>
<h2>Equipment</h2>

    <mat-list-item>Sails: {{sailsAmount}}</mat-list-item>
    <h3>Premium</h3>
    <h3>World Cup</h3>
    <mat-list-item>Boards:</mat-list-item>
    <h3>Premium</h3>
<h3>World Cup</h3>
<h3>Sport</h3>
<h2>Beginner material</h2>
<mat-list-item>Boards:</mat-list-item>
<mat-list-item>Sails:</mat-list-item>
<h2>Accessories</h2>
<mat-list-item>Masts:</mat-list-item>
<mat-list-item>Booms:</mat-list-item>
<mat-list-item>Extensions:</mat-list-item>
<mat-list-item>Mast bases:</mat-list-item>
<mat-list-item>Wetsuits:</mat-list-item>
<mat-list-item>Harnesses:</mat-list-item>
<mat-list-item>Harness lines:</mat-list-item>

</mat-list>


<mat-list>
    <h2>Last movements:</h2>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>
    <mat-list-item></mat-list-item>

</mat-list>
</div>
</body>