body {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;

        font-size: 2rem;

        mat-list {
            background: radial-gradient(transparent, ivory);
            padding: 2rem;
            border: outset;
            border-radius: 2rem;
            min-width: 40vh;
            height: fit-content;
            justify-content: space-between;

            mat-list-item{
                margin-left: 2rem;
            }
            h3{
                margin-left: 6rem;
            }
        }
    }
    // @media only screen and (max-width: 600px) {
    //     .container {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-evenly;
    //         margin: 5rem;

    //         mat-list {
    //             min-width: 40hv;
    //         }
    //     }
    // }
}
