* {
  font-size: 1rem;
}

.detail-card {
  background: radial-gradient(transparent, ivory);
  padding: 2rem;
  border: outset;
  border-radius: 2rem;
  // width:80%;
  //   max-width: 500px;
}

.header-image {
  // background-image: url('src/assets/img/redback.png');
  // background-size: cover;
  width: inherit;
}

/* cannot access this fucking header!!!
body.mat-tab-header.mat-tab-header{

  margin-left: 7%;
  margin-right: 7%;
}

*/