<body>


        <mat-accordion  *ngFor="let type of equipment[0] | keyvalue; first as isFirst; last as isLast">
            <mat-expansion-panel [ngClass]="{firstHeader:isFirst,  lastHeader:isLast}">
              <mat-expansion-panel-header    >
                <mat-panel-title>
                    {{type.key}}
                </mat-panel-title>
              </mat-expansion-panel-header>


        <div class=model_column *ngFor="let models of type.value">
            <h3 #modelLabel>{{models.Model}}</h3>
            <div class=rows>

            <div class=sizes *ngFor="let size of models.amount | keyvalue">
                

                <label #sizeLabel for='amount'>{{size.key}}</label>

                <div class=difference>
                    <input #amountInput min=0
                        (change)="onAmountChange(type.key, models.Model, size.key, amountInput.value)"
                        value="{{size.value}}" type='number'>
                    <p [ngClass]="getClass(temporaryChanges.get(models.Model+' '+size.key))">
                        {{temporaryChanges.get(models.Model+' '+size.key)}}</p>
                </div>
            </div>
            </div>


        </div>
    </mat-expansion-panel></mat-accordion>
  


    <div class=buttons>
        <button mat-stroked-button (click)=addMaterial() matTooltip="Save changes.">Save</button>
        <!-- <button mat-stroked-button matTooltip="Send to repair">Repair</button> -->
        <!-- <button mat-stroked-button matTooltip="Send to Megastore">Sell</button> -->
    </div>
</body>