<body>


    <mat-accordion *ngFor="let type of equipment | keyvalue; first as isFirst; last as isLast">
        <mat-expansion-panel [ngClass]="{firstHeader:isFirst,  lastHeader:isLast}">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{type.key}}s
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class=model_column *ngFor="let models of type.value |keyvalue">
                <h3 #modelLabel>{{models.key}}</h3>
                <div class=rows>

                    <div class=sizes *ngFor="let size of models.value ">


                        <label #sizeLabel for='amount'>{{size}}</label>

                        <div class=difference>
                            <input #amountInput min=0
                                (change)="onAmountChange(type.key, models.key, size, amountInput.value)"
                                value="{{sizes.get(type.key+' '+models.key +' '+ size)}}" type='number'>
                            <p [ngClass]="getClass(temporaryChanges.get(models.key+' '+size))">
                                {{temporaryChanges.get(models.key+' '+size)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>



    <div class=buttons>
        <button mat-raised-button (click)=printList() matTooltip="Display list of material.">Show list</button>
        <button mat-raised-button (click)=saveChanges() matTooltip="Save changes.">Save</button>
    </div>
</body>